<h1>New order</h1>

<div class="depot_form">
  <fieldset>
    <legend>Please enter your payment information</legend>
    <br>

    <%= render 'form' %>
  </fieldset>
</div>

<br>
<%= button_to 'Back', orders_path, method: :get %>
